body {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-image:url(background.jpg);
   height: 100vh;
   margin: 0;
}

h1 {
   text-align: center;
}

input[type="text"] {
   padding: 10px;
   font-size: 18px;
   border: solid;
   border-radius: 5px;
}

button {
   padding: 10px 20px;
   margin-top: 10px;
   background-color: #4caf50;
   color: rgb(204, 20, 20);
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

button:hover {
   background-color: #3E8E41;
}

li {
   cursor: pointer;
}

li.completed {
   text-decoration: line-through;
   color: #4119b7;
   cursor: none;
}